h1 {
    text-align: center;
    color: maroon;
    text-decoration: underline;

}

body {
    background: #dd3e54;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6be585, #dd3e54);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6be585, #dd3e54);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
p{
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-style: italic;
}